@import './constants';

* { 
    box-sizing: border-box;
}

body {
    height: 100%;
        margin: 0px;
}

.container {
    overflow: auto;
    height: 1000px;
    margin: 0 auto;
    background-color: $bgColor;
    display: flex;
    width: 100%;
    h1 {
        margin-bottom: 0px;
        margin-top: 5px;
    }
    h3 {
        margin-top: 0px;
        padding-bottom: 20px;
        color: #B3B6EB;
    }
    img {
        border-radius: 50%;
        border: white solid $imgBorder;
        width: $imgW;
        height: $imgH;
    }
    main {
        width: 600px;
        margin: 20px;
        padding: 20px;
        .top {
            background-color: #fff;
            margin: 0px;
            padding: 20px;
            padding-bottom: ($imgW + 2 * $imgBorder)/ 2;
            border-top-right-radius: $borderR;
            border-top-left-radius: $borderR;
            p {
                font-size: 30px;
            }
        }
        .imag {
            margin: 0px;
            padding: 0px;
            text-align: center;
            margin-top: ($imgW / -2) - 2;
            margin-bottom: ($imgW / -2) - 2;
        }
        .testi {
            border-bottom-right-radius: $borderR;
            border-bottom-left-radius: $borderR;
            background-color: #686de0;
            width: 100%;
            text-align: center;
            padding-bottom: 0px;
            margin: 0px;
            padding-top: ($imgW + 2 * $imgBorder)/ 2;
            color: white;
        }
    }
}

/* Deel 2 */

.container2 {
    overflow: auto;
    height: 1000px;
    margin: 0 auto;
    background-color: $bgColor;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    img {
        border-radius: 8px;
    }
    .grid {
        width: 80%;
        padding: 20px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 33% 33% 33%;
        @media only screen and (max-width: 960px) {
            grid-template-columns: 50% 50%;
        }
        @media only screen and (max-width: 730px) {
            grid-template-columns: 100%;
        }
        .button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            opacity: 0;
            transition: opacity .35s ease;
        }
        div {
            filter:grayscale(100%);
            object-fit: contain;
            
            img {
                transition: .5s ease;
                width: 100%;
            }
            &:hover {
                img {
                    filter: brightness(15%);
                }
                .button {
                    opacity: 1;
                }
            }
        }
    }
} 
.text {
    border-radius: 2px;
    background-color: lightgray;
    color: black;
    font-size: 16px;
    padding: 8px 8px;
}

  /* Deel 3 */

.smedia {
    div {
        z-index: 99;
        position: fixed;
        right: 0;
        display: flex;
        padding-left: 1rem;
        align-items: center;
        width: 50px;
        height: 50px;
        transition: width 0.8s;
        text-decoration: underline;
        color: white;
        font-size: 1.2em;
        &:hover {
        width: 250px;
        }
    }
    .blog  {
        background-color: #e17b77;
        bottom: 450px;
        padding-left: 12px;
        &::after {
            @include s-media("Check out my blog");
        }
    }
    .twitter {
        background-color: #00aced;
        bottom: 400px;
        &::after {
            @include s-media("Follow me on Twitter");
        }
    }
    .fbook {
        background-color: #3b5998;
        bottom: 350px;
        &::after {
            @include s-media("Like my Facebook page");
        }
    }
    .linkedin {
        background-color: #007bb6;
        bottom: 300px;
        &::after {
            @include s-media("Connect on Linkedin");
        }
    }
    .github {
        background-color: #333;
        bottom: 250px;
        &::after {
            @include s-media("See project on Github");
        }
    }
}